.cart{
    margin: 0 auto;
    width: 355px;
}

.cart h1{
    background-color: #27AE60;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    height: 65px;
    width: 355px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-radius: 5px 5px 0px 0px;
    box-sizing: border-box;
}

.cart__list{
    display: flex;
    background-color: #F5F5F5;
    min-height: 158px;
    width: 355px;
    max-height: 465px;
    overflow-y: scroll;
    flex-wrap: wrap;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.total__price{
    padding-top: 21px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
}

.total__price p {
    font-weight: 600;
    font-size: 14px;
    color: #333333;
}

.total__price span{
    font-weight: 600;
    font-size: 14px;
    color: #828282;
}

.cart__empty{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart__p{
    font-weight: 700;
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
}

.cart__span{
    color: #828282;
    font-weight: 400;
    font-size: 14px;
}

@media (min-width: 900px){
   .cart{
       width: 385px;
       margin-top: 26px;
       margin-right: 130px;
   }

   .cart__list{
       width: 385px;
   }
   .cart h1{
    width: 385px;
    }
    .total{
        width: 385px;
    }
    
    .total__button{
        width: 343px;
    }
}